body{
    color:blue
}
.rojo{
    color:red
}
#verde{
    color:rgb(85, 255, 85)
}
#verde{
    background-color: grey;
}
#violeta{
    color:blueviolet
}
.fuente-de-letras{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}